<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="reset.css">
	<link rel="stylesheet" href="style.scss">
	<title>Document</title>
</head>
<body>
	
	<nav class="nav">
		<ul class="list-reset nav__list">
			<li class="nav__item nav__item--active" style="--clr:#f44336;">
				<a href="#" class="nav__link">
					<span class="nav__link-icon">
						<ion-icon name="home-outline"></ion-icon>
					</span>
					<span class="nav__link-text">Home</span>
				</a>
			</li>
			<li class="nav__item" style="--clr:#ffa117;">
				<a href="#" class="nav__link">
					<span class="nav__link-icon">
						<ion-icon name="person-outline"></ion-icon>
					</span>
					<span class="nav__link-text">About</span>
				</a>
			</li>
			<li class="nav__item" style="--clr:#0fc70f;">
				<a href="#" class="nav__link">
					<span class="nav__link-icon">
						<ion-icon name="chatbubble-outline"></ion-icon>
					</span>
					<span class="nav__link-text">Message</span>
				</a>
			</li>
			<li class="nav__item" style="--clr:#2196f3;">
				<a href="#" class="nav__link">
					<span class="nav__link-icon">
						<ion-icon name="home-outline"></ion-icon>
					</span>
					<span class="nav__link-text">Photos</span>
				</a>
			</li>
			<li class="nav__item" style="--clr:#b145e9;">
				<a href="#" class="nav__link">
					<span class="nav__link-icon">
						<ion-icon name="settings-outline"></ion-icon>
					</span>
					<span class="nav__link-text">Setting</span>
				</a>
			</li>
		</ul>
		<div class="burger">
			<span class="burger__line"></span>
		</div>
	</nav>

<script src="burgerSideBar.js"></script>

</body>
</html>