//=============/=============/=============
.category {
	margin-left: var(--offset-left);

	display: grid;
	grid-template-areas:
		"a a a a a a a b b b b b"
		"c c c c c d d d d d d d"
		"e e e e e e e f f f f f"
		"g g g g g h h h h h h h"
		"i i i i i i i j j j j j";
	grid-template-columns: repeat(12, 1fr);
	gap: var(--offset-small);

	@include tablet-max {
		margin-left: 0;
	}

	@include mobile {
		grid-template-areas:
			"a a a a"
			"b b b b"
			"c c c c"
			"d d d d"
			"e e e e"
			"f f f f"
			"g g g g"
			"h h h h"
			"i i i i"
			"j j j j";
		grid-template-columns: repeat(4, 1fr);
		gap: var(--offset-minimum);
	}

	&__item-chairs {
		grid-area: a;
	}

	&__item-manager {
		grid-area: b;
	}

	&__item-staff {
		grid-area: c;
	}

	&__item-resep {
		grid-area: d;
	}

	&__item-safes {
		grid-area: e;
	}

	&__item-sofas {
		grid-area: f;
	}

	&__item-partitions {
		grid-area: g;
	}

	&__item-big {
		grid-area: h;
	}

	&__item-office-supplies {
		grid-area: i;
	}

	&__item-school-furniture {
		grid-area: j;
	}

	&__item {
		position: relative;
		height: 400px;
		border: var(--block-border);
		box-shadow: var(--block-shadow);
		border-radius: var(--block-radius);
		transition: all 0.3s linear;
		overflow: hidden;

		@include tablet {
			height: 320px;
		}

		&:hover {
			.category__image img {
				transform: scale(1.2);
			}

			.category__inner::after {
				opacity: 0.8;
			}

			.category__content {
				z-index: 5;
			}
		}
	}

	&__inner {
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
		border-radius: 8px;
		overflow: hidden;

		&::after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background-color: var(--pumpkin-color);
			opacity: 0;
			transition: opacity 0.3s linear;
		}
	}

	&__image {
		img {
			width: 100%;
			height: 100%;
			transition: transform 0.3s linear;
		}
	}

	&__content {
		position: absolute;
		left: var(--offset-large);
		top: var(--offset-large);
	}

	&__name {
		font-size: 24px;
		color: var(--black-color);
		text-transform: uppercase;
		font-weight: 700;
		transition: color 0.3s linear;
	}
}
