* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "OpenSans", sans-serif;
	font-weight: 400;
	font-size: 16px;
	background-color: var(--outerSpace-color);
	margin-left: 8%;
	margin-right: 8%;

	@include laptop-max {
		margin-left: var(--offset-minimum);
		margin-right: var(--offset-minimum);
	}
}

html {
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

span {
	display: inline-block;
	margin: 0;
	padding: 0;
}

img {
	height: auto;
	max-width: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
	color: inherit;
}

input,
button,
textarea {
	font-family: inherit;
}

//убрать крестик в поле ввода input
// input[type="search"]::-webkit-search-decoration,
// input[type="search"]::-webkit-search-cancel-button,
// input[type="search"]::-webkit-search-results-button,
// input[type="search"]::-webkit-search-results-decoration {
// 	display: none;
// }

/* убираем стандартные стрелочки Chrome */
// input[type="number"]::-webkit-outer-spin-button,
// input[type="number"]::-webkit-inner-spin-button {
// 	-webkit-appearance: none;
// 	margin: 0;
// }

// /* убираем стандартную стрелку указатель Chrome */
// summary::-webkit-details-marker {
//     display: none;
// }

// /* убираем стандартные стрелочки Chrome */
// input[type="number"]::-webkit-outer-spin-button,
// input[type="number"]::-webkit-inner-spin-button {
//     -webkit-appearance: none;
//     margin: 0;
// }

// /* убираем стандартные стрелочки Firefoх */
// input[type="number"] {
//     -moz-appearance: textfield;
// }

// input[type="number"]:hover,
// input[type="number"]:focus {
//     -moz-appearance: number-input;
// }

//=======================================
