
:root {
//=============/=============/=============
	--offset-left: 360px;
	--offset-maximum: 100px;
	--offset-huge: 60px;
	--offset-large: 40px;
	--offset-middle: 30px;
	--offset-small-back: -20px;
	--offset-small: 20px;
	--offset-minimum-back: -10px;
	--offset-minimum:10px;


	//=============/=============/=============
	--block-radius: 8px;
	--block-shadow: -1px -1px 2px rgba(255, 255, 255, 0.6), inset 2px 2px 5px rgba(255, 255, 255, 0.25),
	8px 15px 15px rgba(0, 0, 0, 0.4), inset -2px -2px 5px rgba(0, 0, 0, 0.3);
	--block-border: 1px solid rgba(255,255,255, 0.5);

	
//=============/=============/=============
  --white-color: #fff;
	--black-color: #000;
	--westSide-color: #ff9218;
	--blue-color: #1f9cff;
	--outerSpace-color: #2f363e;
	--xanadu-color: #7d7f7d;
	--bgImage-color: #505050;
	--grey-color: #2f4f4f;
	--orange-color: #b3821a;
	--pumpkin-color: #d9821a;
}
