//=============/=============/=============
.accordion {
	width: 300px;

	&__title {
		color: #000;
		position: relative;
		transition: 0.2s;
	}

	&__title::before,
	&__title::after {
		content: "";
		position: absolute;
		top: 50%;
		width: 10px;
		height: 1px;
		background-color: #000;
		transform: translateY(-50%);
	}

	&__title::before {
		transform: rotate(-30deg);
		left: -15px;
	}

	&__title::after {
		transform: rotate(30deg);
		left: -23px;
	}

	&__header {
		padding: 10px 40px;
	}

	&__content {
		overflow: hidden;
		height: 0;
		transition: all 0.25s ease;
	}

	&__description {
		padding: 10px 20px;
	}

	&-open {
		& .accordion__title::before {
			transform: rotate(30deg);
		}
	
		& .accordion__title::after {
			transform: rotate(-30deg);
		}
	}
}
