<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="reset.css">
	<link rel="stylesheet" href="style.css">
	<title>Document</title>
</head>

<body>


	<div class="menu">
		<div class="menu__item">
			<button class="btn-reset menu__btn">Пункт 1</button>
			<div class="dropdown">
				<ul class="list-reset dropdown__list">
					<li class="dropdown__item"><a href="#" class="dropdown__link">Подпункт 1</a></li>
					<li class="dropdown__item"><a href="#" class="dropdown__link">Подпункт 2</a></li>
					<li class="dropdown__item"><a href="#" class="dropdown__link">Подпункт 3</a></li>
				</ul>
			</div>
		</div>
		<div class="menu__item">
			<button class="btn-reset menu__btn">Пункт 1</button>
			<div class="dropdown">
				<ul class="list-reset dropdown__list">
					<li class="dropdown__item"><a href="#" class="dropdown__link">Подпункт 1</a></li>
					<li class="dropdown__item"><a href="#" class="dropdown__link">Подпункт 2</a></li>
					<li class="dropdown__item"><a href="#" class="dropdown__link">Подпункт 3</a></li>
				</ul>
			</div>
		</div>
		
	</div>


	<script src="script.js"></script>

</body>

</html>