<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>


		<!-- plugins ------------ 
			---------------q-nav-header -->

	<!-- 
		data-goto=".about">  .about => пишем название секции/блока до которого нужен скролл
	-->

	<nav class="nav" title="Главное меню" data-nav>
		<ul class="list-reset nav__list">
			<li class="nav__item"><a href="#" class="nav__link" data-goto=".about">О школе</a></li>
			<li class="nav__item"><a href="#" class="nav__link" data-goto=".trainers">Тренеры</a></li>
			<li class="nav__item"><a href="#" class="nav__link" data-goto=".tariffs">Стоимость</a></li>
		</ul>
	</nav>

	<script src="scrollByClick.js"></script>
</body>

</html>