<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="reset.css">
	<link rel="stylesheet" href="style.css">
	<title>Document</title>
</head>

<body>

	<!-- plugins ------------ 
		---------------q-spoiler -->

	<!-- 
		-каждая новая кнопка с выпадающим списком это item
		-при необходимости большего количества кнопок нужно копировать item
			-->


	<div class="spoiler">
		<div class="spoiler__item">
			<button class="btn-reset spoiler__btn">Пункт</button>
			<div class="spoiler__drop">
				<ul class="list-reset spoiler__list">
					<li>Подпункт</li>
					<li>Подпункт</li>
					<li>Подпункт</li>
				</ul>
			</div>
		</div>
		<div class="spoiler__item">
			<button class="btn-reset spoiler__btn">Пункт</button>
			<div class="spoiler__drop">
				<ul class="list-reset spoiler__list">
					<li>Подпункт</li>
					<li>Подпункт</li>
					<li>Подпункт</li>
				</ul>
			</div>
		</div>
	</div>



	<script src="script.js"></script>
</body>

</html>