<!-- //=============/=============/=============/=============/=============/=============  -->
<!--скрытый заголовок -->
<h2 class="visually-hidden" aria-hidden="true" tabindex="-1">СКРЫТЫЙ ЗАГОЛОВОК</h2>



<!-- //=============/=============/=============/=============/=============/=============  -->
<!--подключение fontawesome  -->
<script src="https://kit.fontawesome.com/c2b08db4da.js" crossorigin="anonymous"></script>
<!-- можно вставить в готовый тег верстки просто класс иконки => fa-brands fa-youtube
или вставить готовый код -->
<i class="fa-brands fa-youtube"></i>



<!-- //=============/=============/=============/=============/=============/=============  -->
<!--подключение https://ionic.io/ionicons  -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



<!-- //=============/=============/=============/=============/=============/=============  -->
<!--подключение swiper slider  -->
<!-- link подключать до основного стиля css -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<!-- script подключать до основного скрипта проекта -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>



<!-- //=============/=============/=============/=============/=============/=============  -->
<!--  -->